/*
 *= require_tree .
 *= require_self
 */

/* --- Import Components stylesheets --- */ 
@import url("components/navbar.css")
@import url("components/avatar.css")
@import url("components/button.css")
@import url("components/card.css")
@import url("components/tabs.css")

/* --- Import Google Fonts stylesheets --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");



						/* --- Fonts --- */ 

/*body {*/
/**/
/*   background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50% )*/
/*   background-size: cover;*/
/*}*/



						/* -- general -- */

.general {
   font-family: "OpenSans", "Montserrat", "sans-serif";
}

					  /* -- animations -- */
			     /* couleur du lien au survol */

 a:hover{
   color: #3AF6E3;
}

.btn-blue a:hover {
	color: #4862F6 ;  
}




					  /* --- A ajouter --- */ 


 /*   margin: 10px 5px 10px 5px;*/
 /* background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50% )*/
 /* background-size: cover*/

