  	<!-- Début du header -->

    <header>
					   <!-- avatar -->

		 <div class="avatar"><%= image_tag 'icon.png' %></div>


		  						<!-- navbar -->

	     <div class="navbar"> 
	      <nav>
		    <ul>
				<li><a href="Home">Home</a></li>
				<li><a href="Produits">Products</a></li>
				<li><a href="Support">Support</a></li>
				<li><a href="Contact">Contact</a></li>
		   </ul>
		 </nav>
		</div>
		<br>
		<br>
   </header> 
                 
                      <!-- title -->

  <div class="general">
   
   <h1>UN JOYEUX MERCREDI MATIN !</h1>
   <h2>Mon niveau CSS est désespérant</h2>
   <h3>Mais ça va je vais m'en remettre :)</h3>


   <article class="article">
   Le Lotus sacré ou Lotus d'Orient (Nelumbo nucifera Gaertn.) est une plante aquatique de la famille des Nélumbonacées.</article><br>
</div>

   					   <!-- button -->

   <div class="btn-blue">
	  <p>
	   <a href="#">BOUTON</a>
	  </p>
   </div>



				
					   <!-- avatar -->

        <footer><!-- Pied-de-page de la page -> site --></footer>
        


